#nav {
	/*background-color: #51aceb;*/
	position: fixed;
	height: 700px;
	border-radius: 20px 20px;
	margin: 100px 20px;
	text-align: center;
	
}

#nav ul {
	padding: 0;
}

#nav li {
	display: block;
	margin: 10px;
}

#nav li a{
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 10px 10px;
}

#nav li a:hover {
	background-color: rgba(255,255,255,0.3);
	font-weight: bold;
}
/*以上是左侧dock栏*/

/*毛玻璃背景类型*/
.blur {
	background: rgba(225,225,225,0.65);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
/*毛玻璃背景类型结束*/

/*上边dock栏*/
#nav2 {
	/*background-color: #51aceb;*/
	position: fixed;
	width: 50%;
	height: 55px;
	border-radius: 20px 20px;
	margin: 100px 25%;
	display: flex;
	justify-content: flex-start;
	min-width: 350px;
	max-width: 50%;
	
}

#nav2 img {
	display: inline-block;
	width: 35px;
	border-radius: 10px 10px;
	margin: 10px 15px;
	background-color: rgba(225,225,225,0);
}

#nav2 img:hover {
	background-color: rgba(255,255,255,0.3);
}

/*搜索栏*/
#searchdiv {
	display: inline;
}

#searchdiv input {
	text-decoration: none;
	display: inline-block;
	width: calc(100% - 90px);
	height: 30px;
	background-color:rgba(0,0,0,0);
	border-radius: 10px 10px;
	border: 0;
	padding-left: 15px;
	margin-top: 12px;
	position: absolute;
	color: white;
}

#searchdiv input:hover {
	font-weight: bold;
	border: 0px;
}
/*
#searchdiv button {
	text-decoration: none;
	color: black;
	display: inline;
	width: 50px;
	height: 35px;
	background-color: rgba(225,225,225,0.3);
	line-height: 30px;
	border-radius: 10px 10px;
	position: absolute;
	margin: 10px 0;
	border: 0;
}*/

#searchdiv button:hover {
	background-color: rgba(255,255,255,0.3);
	font-weight: bold;
	
}
/*上边dock栏；搜索栏结束*/

/*以下是小组件层*/
.widgetline {
	width: calc(100% - 250px);
	margin-left: 125px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;/* 替代space-between布局方式 */
	min-width: 640px;
	max-width: calc(100% - 250px);
}
.widgetblock {
	
	height: 340px;
	/* 加入这两个后每个item的宽度就生效了 */
	min-width: 300px;
	max-width: calc((100% - 60px) / 3);
	/* END */
	
	/* 这里的10px = (分布个数3-1)*间隙5px, 可以根据实际的分布个数和间隙区调整 */
	width: calc((100% - 60px) / 3);
	/* END */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	
}
/*.widgetblock:nth-child(3n) {
     去除第3n个的margin-right 
    margin-right: 0;
}*/

.widgettext {
	text-align: center;
	width: 300px;
	height: 30px;
	line-height: 30px;
	color: white;
}
.widgetblock_long {
	
	/*height: 340px;
	/* 加入这两个后每个item的宽度就生效了 */
	min-width: 600px;
	max-width: calc(200% / 3);
	/* END */
	
	/* 这里的10px = (分布个数3-1)*间隙5px, 可以根据实际的分布个数和间隙区调整 */
	width: calc(200% / 3);
	/* END */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.widgettext_long {
	text-align: center;
	width: 600px;
	height: 30px;
	line-height: 30px;
	color: white;
}
/*小组件层结束*/

/*以下是抬升动画*/
.widget {
	margin-top: 10px;
	transition: all 0.5s ease;
}
.widget:hover {
	margin-top:0;
}
/*动画结束*/

body {
	background: #edc0bf;
	background: linear-gradient(90deg, #ffcfce, #d1d8ff 58%);

	background-image: url('../Resource/htmlbg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
