        .widgets-alarm_clock {
            display: flex;
        }

        .img-section { /* 左300*300 */
            width: 300px;
            height: 300px;
            background-color: #EA73FB;
            position: relative;
            border-radius: 20px 0 0 20px;
        }



		/* 指针图片样式 */
		.pointer-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: 25% 100%; /* 旋转中心设置在图片的下边中点 */
			transform: translate(-50%, -50%) rotate(0rad); /* 初始旋转 */
		}
		
        .img-section img {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0rad);
            transform-origin: bottom center; /* 调整图片旋转的基点到最下端中点 */
        }
		
		#hourHand {
            height: 150px; /* 定义指针图片的高度 */
			z-index: 3; /* 时针在最上层 */
        }
		
		#minuteHand {
            height: 150px; /* 定义指针图片的高度 */
			z-index: 2; /* 分针在时针下一层 */
        }

		#secondHand {
            height: 150px; /* 定义指针图片的高度 */
			z-index: 1; /* 秒针在最下层 */
        }

		#clockFace {
			width: 300px;
			height: 300px;
			top: 50%;
			left: 50%;
			border-radius: 20px 0 0 20px;
		}

        .numbers-section { /* 右300*300 */
            display: flex;
            flex-direction: column;
        }

        .alarm_clock_1, .alarm_clock_2, .alarm_clock_3 { /* 右上300*100 */
            width: 300px;
            height: 98px;
            background-color: #8EE1D8;
            border: 1px solid #ddd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0 20px 0 0;
            /* 设置字体样式 */
            font-family: 'Arial', sans-serif;
            
            /* 设置文字颜色 */
            color: #333;
        }

        .alarm_clock_2 { /* 右中300*100 */
            border-radius: 0;
        }

        .alarm_clock_3 { /* 右下300*100 */
            border-radius: 0 0 20px 0;
        }
		
		.nameWhenPaused {
			display: flex;       /* 使用Flexbox布局 */
			align-items: center; /* 垂直居中 */
			justify-content: center; /* 水平居中 */
			
		}

        /* 倒计时结束的样式 */
        .countdown-ended {
            color: red;
            font-weight: 750;
            /* 倒计时结束时的字体样式 */
            font-family: 'Times New Roman', serif;
            
            /* 倒计时结束时的文字颜色 */
            color: red;
        }

        /* 暂停和设置按钮样式 */
        .countdown-buttons {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }

        .countdown-buttons button {
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        .countdown-buttons .start-button {
            background-color: green;
            color: white;
        }

        .countdown-buttons .pause-button {
            background-color: red;
            color: white;
        }
		
        /* 清除按钮样式 */
        .clear-button {
            padding: 3px 8px;
        }
		
		
        .current-countdown {
			font-size: 18px;
            color: blue;
            font-family: 'KaiTi', serif;
        }
		/*
        .paused-indicator {
            color: red;
            font-weight: bold;
        }
		*/
		.paused-indicator {
        	margin-left: 10px; /* 将“暂停中”推到右边 */
			font-weight: bold;
			font-size: 15px;
			color: red;
        }
        .paused-count {
            transition: color 0.5s;
			font-size: 13px;
			font-weight: 560;
        }
		
		.size-1 {
			font-size: 16px;
			font-weight: 720;
		}
		
		.countdown-name {
			font-weight: 700;
		}
		
        @keyframes slideIn {
            from {
                top: 100%;
                opacity: 0;
            }
            to {
                top: 50%;
                opacity: 1;
            }
        }

        @keyframes slideOut {
            from {
                top: 50%;
                opacity: 1;
            }
            to {
                top: -50%;
                opacity: 0;
            }
        }

		
		
        .hidden {
            display: none;
        }