.avatar-container {
    position: relative;
    display: inline-block;
  }
  
  #avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    left: 700px;
    top: -95px;
    
  }
  
  #avatar-input {
    position: absolute;
    top: -50px;
    left: 577px;
    opacity: 0;
    cursor: pointer;
  }
  