.avatar-container {
    position: relative;
    display: inline-block;
  }
  
  #avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    left: 1520px;
    
    
  }
  
  #avatar-input {
    position: absolute;
    top: 0;
    left: 1520px;
    opacity: 0;
    cursor: pointer;
  }
  